    <!-- <div class="container">
        <div class="row">
            <div class="col text-center">   
                <img src="../img/dida.jpg" alt="Dida Handian" width="200" class="img-thumbnail rounded-square" >
                <h1 class="display-4">Dida Handian</h1>
                <p class="lead">Hanya Dida yang Tampan</p>
            </div>
        </div>
    </div> -->

<div class="container">
    <div class="card">
        <img src="../img/dida.jpg" alt="John" style="width:100%">
        <h1>Dida</h1>
        <p class="title">Programmner</p>
        <p>Indonesia Computer University</p>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <p><button>Contact</button></p>
    </div>
</div>