<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
</head>
<body>
    <h1>Hello World!</h1>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    <p>welcome to my page <%= nama %></p>
    <h3>Contact List :</h3>
    <% if (cont.length === 0) { %>
        <h3>Data empty</h3>
    <% } %>
    <% cont.forEach(function( eachCont){ %>
        <ul>
            <li> Nama : <%= eachCont.nama %> </li>
            <li> Email : <%= eachCont.email %> </li>
        </ul>    
    <% }) %>
</body>
</html>