<section id="hero">
    <div class="hero-container">
      <a href="/index" class="hero-logo" data-aos="zoom-in"><img src="assets/img/logowgs.png" alt=""></a>
      <h1 data-aos="zoom-in"><%= nama %> </h1>
      <h2 data-aos="fade-up">We are team of talented designers making websites with Bootstrap</h2>
      <a data-aos="fade-up" data-aos-delay="200" href="/users/login" class="btn-get-started scrollto">Let's Discuss</a>
    </div>
</section>