<%- include('layout/header') %> 
<%- include('layout/nav') %>

    <h1>Hello to About</h1>
    <p>this is about page</p>
    <a class="btn btn-primary" href="/" role="button">Back</a>

<%- include('layout/footer') %> 
