<%- include('layout/header') %> 
<%- include('layout/nav') %>

    <h2>This is contact page</h2>
    <p><%= contact %></p>
    <a class="btn btn-primary" href="/" role="button">Back</a>
    
<%- include('layout/footer') %> 