<div class="container mt-5">
    <br>
    <h2>Contact Details</h2>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"><%= contact.name %></h5>
            <br>
            <p class="card-text"><%= contact.email %> </p>
            <p class="card-text"><%= contact.mobile %> </p>
            <a href="/contact" class="card-link">Back to Contacts List</a>
        </div>
    </div>
</div>   